@charset "UTF-8";

@font-face {
  font-family: 'Arcon-Regular';
  src: url('../fonts/arcon/Arcon-Regular.eot');
  src: url('../fonts/arcon/Arcon-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arcon/Arcon-Regular.svg#Arcon-Regular') format('svg'),
       url('../fonts/arcon/Arcon-Regular.ttf') format('truetype'),
       url('../fonts/arcon/Arcon-Regular.woff') format('woff'),
       url('../fonts/arcon/Arcon-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Light';
  src: url('../fonts/futura-bt/FuturaBT-Light.eot');
  src: url('../fonts/futura-bt/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura-bt/FuturaBT-Light.svg#FuturaBT-Light') format('svg'),
       url('../fonts/futura-bt/FuturaBT-Light.ttf') format('truetype'),
       url('../fonts/futura-bt/FuturaBT-Light.woff') format('woff'),
       url('../fonts/futura-bt/FuturaBT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
    --font-primary: Assistant;
    --font-secondary: Josefin Sans;
    --font-backup: FuturaBT-Light;

    --font-headers: Assistant;
    --font-navbar: Overpass Mono;

    /* set base values */
    --text-base-size: 18px;
    --text-scale-ratio: 1.25;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

    /* line-height */
    --heading-line-height: 1.2;
    --body-line-height: 1.55;

    /* colors */
    --color-text: #333;
    --color-link: gray;
    --color-link-hover: #F4989C;

    --light-orange: #FFD0AE;
    --light-purple: #EEE3F9;
    --light-gray: #787878;

    --color-neutral-gray: #888888;
    --color-neutral-black: #111111;
    --color-bkgd-light-gray: #FAFAFA;
    --color-bkgd-mid-gray: #EAEAEA;


    /* spacing */
    --space-unit: 1em;
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs:  calc(0.375 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    --space-xxl:  calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));

    /* components padding */
    --component-padding: var(--space-sm);
}

/*
@include breakpoint(md) {
    :root {
        --text-base-size: 1.25em;
        --text-scale-ratio: 1.25;
        --space-unit: 1.25em;
        --component-padding: var(--space-md);
    }
}
*/


/****************************************************/
/****************     MAIN      *********************/
/****************************************************/
body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-neutral-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*margin-top: 16vh;*/
}

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-sm);
  line-height: var(--heading-line-height);
}

h1 {
  font-family: var(--font-headers);
  font-size: var(--text-xxl);
}

h2 {
  font-family: var(--font-headers);
  font-size: 32px;
  color: var(--color-neutral-gray);
}

h3 {
  font-family: var(--font-headers);
  font-size: 24px;
  color: var(--color-neutral-gray);
  letter-spacing: 1.85px;
  margin-bottom: 1.6em;
}

h4 {
  font-family: var(--font-headers);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}


p {
  line-height: var(--body-line-height);
  font-size: var(--text-base-size);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}

.large-question {
  font-family: Assistant;
  font-size: 36px;
  font-weight: 500;
}

.bolded {
  font-weight: 900;
}

/*****************  HEADER & NAVBAR  *****************/
#top {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  pointer-events: none;
}

.header-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: 2.2vw;
  padding-bottom: 2.2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  pointer-events: auto;
}

.header-inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
}

.header-mobile-layout-logo-left-nav-right {

}

.header-logo {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.header-nav {
  text-align: right;
  margin-left: auto;
  padding-left: 1.3vw;
}

.navbar-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-links li {
  margin-left: var(--space-lg);
  font-size: 16px;
  font-family: var(--font-navbar);
  font-weight: light;
  color: var(--light-gray);
}

/*
#navItems li.active a{
  color: var(--color-link-hover);
  background-color: transparent;
}

.navbar-nav li {
  padding-left: var(--space-lg);
}
*/

/*****************  MEDIA & IMAGES  *****************/
.logo-img {
  height: 100%;
  width: auto;
  display: inline;
}

.img-caption {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  font-style: italic;
  text-decoration: underline;
  padding-top: 8px;
}


/*****************  LANDING COVER  *****************/
.case-study-landing-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.landing-intro {
  padding: 0;
}

.landing-intro-title {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.landing-intro-title-content {
  padding: var(--space-lg) var(--space-lg) var(--space-lg) 0;
  margin-left: 4vw;
}

.landing-intro-img {
  max-height: 90vh;
  display: flex;
}

/*****************  BODY  *****************/
.spacer {
  flex: 1;
}

.content-section {
  margin: 16vh 4vw 0 16vw;
  display: flex;
  flex-direction: column;
}

.content-text-section {
  width: 50vw;
  margin-bottom: 20vh;
}

.content-text-only {
  width: 50vw;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.content {
  margin-bottom: 20vh;
  padding: 0;
}

.divider-section {
  background-color: var(--color-bkgd-light-gray);
  margin: auto 0;
  padding:0;
}

.divider-section-2 {
  background-color: var(--color-bkgd-mid-gray);
  margin: auto 0;
  padding: 0;
}

.divider-content {
  padding: 6vh 4vw 6vh 16vw;
}

.side-by-side-content {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  align-content: flex-start;
}

.stack {
  display: flex;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
}

.stack > div {
  margin-bottom: 4rem;
}

/*****************  SIDEBAR  *****************/
.sidebar-nav {
  position: fixed;
  top: 25vh;
  left: 4vw;
}

.sidebar-links {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0px;
}

.sidebar-links li {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: lighter;
  color: var(--color-neutral-black);
}



/*****************  FOOTER  *****************/
.footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-bkgd-light-gray);
  color: #4F4F4F;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 4vh 4vw;
  pointer-events: auto;
  justify-content: space-between;
  flex-flow: row wrap;
  display: flex;
}

.footer-icon-bar{
  justify-content: flex-end;
}

.footer-icon {
  color: #828282;
  padding-left: 0.5em;
}

.footer-text {
  font-size: var(--text-sm);
  margin: auto 0;
}
